.env
.DS_Store
*.db
*.sqlite
*.sqlite3
*.db-journal
*.sqlite-journal
*.sqlite3-journal
*.db-wal
*.sqlite-wal
*.sqlite3-wal
*.db-shm
*.sqlite-shm
*.sqlite3-shm
*.log
__pycache__/
*.pyc
.vscode/
venv/
*.db-*
BRAND_GUIDELINES.json
project.zip
*.excalidraw
*.claude/