anthropic==0.86.0
fastapi==0.135.1
google-auth==2.49.1
google-auth-oauthlib==1.2.1
google-api-python-client==2.169.0
pypandoc==1.17
python-dotenv==1.2.2
python_pptx==0.6.23
python-multipart==0.0.20
requests>=2.32.0
uvicorn==0.34.0
langchain==1.2.15
langchain_anthropic==1.4.0
langchain_core==1.5.6
langchain_google_genai==4.3.4
langchain-protocol==0.0.18
langgraph==1.1.9
langgraph-checkpoint==4.2.0
langgraph-checkpoint-sqlite==3.1.0
langgraph-prebuilt==1.0.10
langgraph-sdk==0.3.15